# Node modules
backend/node_modules
mobile/node_modules
provider-app/node_modules
admin-app/node_modules
web/node_modules
backend/venture-world-1123-firebase-adminsdk-fbsvc-7ccfe00c83.json
# Build outputs
backend/dist
mobile/dist
web/dist

# Expo specific
mobile/.expo
mobile/.expo-shared

# Environment variables
backend/.env
mobile/.env
web/.env
admin-app/.env
provider-app/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs & Editors
.vscode/
.idea/
*.swp

# Optional: Ignore coverage reports (if you add testing)
coverage/
.env
